{% extends "base_generic.html" %}
{% block title %}Blog App{% endblock title %}

{% block content %}
<div>
  <a href="{% url 'register' %}" method="GET">
    <button type="submit">Create New User</button>
  </a>
  <p></p>
  <a href="{% url 'login' %}" method="GET">
    <button type="submit">Login</button>
  </a>
  <p></p>
  <a href="{% url 'logout' %}" method="GET">
    <button type="submit">Logout</button>
  </a>
</div>
Add a Blog Post:
<form action="{% url 'blogapp:add_book' %}" method="POST">
  {% csrf_token %}
  Blog Post Title<input type="text" name="title"/>
  Body of Blog Post<input type="text" name="author_name"/>
  <button type="submit">Add Blog Post</button>
</form>
<ul>
  {% for blog_item in blogposts %}
  <li>
    <p>{{ blog_item.title }} by {{blog_item.user.username}}</p>
    <!-- <p>{{ blog_item.completed }}</p> -->
    <p>{{ blog_item.body }}</p>
    <form action="{% url 'blogapp:comment' pk=blog_item.pk %}" method="GET">
      {% csrf_token %}
      <button type="submit">Comment</button>
    </form>
    <a href="{% url 'blogapp:delete_book' pk=blog_item.pk %}" method="GET">
      <button type="submit">Delete</button>
    </a>
    <ul>
      {% for comment_item in comments %}
      <li>
        sfdg
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
